
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(225 225 225 0.5);
    box-shadow: 0px 0px 5px 5px goldenrod;
    position: fixed;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(30px);
    font-weight: 500;
}

.logo img {
    width: 150px;
    filter: drop-shadow(0px 0px 1px rgb(10, 10, 10));

}

.navbar ul {
    display: flex;
    gap: 40px;

}

.navbar li {
    list-style: none;
}

.navbar a {
    color: rgba(255, 255, 255, 0.979);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.747);
    transition: 1.1s;



}

.navbar li {
    /* border-radius: 20px; */
    
    padding: 10px;
width: 100px;
text-align: center;
    transition: 1.1s;
  
}

.navbar {
    padding-top: 40px;
}

.navbar a:hover{ 
/* padding: 15px; */
background-color: rgba(255, 217, 0, 0.61);
transition: 1.1s;
border-radius: 20px;
box-shadow: 0px 0px 100px 50px gold;
}

@media (max-width:704px) {

    .header {
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        background-color: rgb(225 225 225 0.5);
        box-shadow: 0px 0px 5px 5px goldenrod;
        position: fixed;
        width: 100%;
        z-index: 1;
        backdrop-filter: blur(30px);
    }
    
    .logo img {
        width: 150px;
        filter: drop-shadow(0px 0px 1px rgb(10, 10, 10));
    
    }
    
    .navbar ul {
        display: flex;
     justify-content:space-around;
     
text-align: center;
padding-bottom: 20px;
    }
    
    .navbar li {
        list-style: none;
    }
    
    .navbar a {
        color: rgba(255, 255, 255, 0.979);
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.747);
        transition: 1.1s;
    
    
    
    }
    
    .navbar li {
        border-radius: 20px;
        
        padding: 5px;
    width: 100px;
    text-align: center;
        transition: 1.1s;
      
    }
    
    .navbar {
        padding-top: 5px;
    }
    
    
    .navbar a:hover{ 
        /* padding: 15px; */
        background-color: rgba(255, 217, 0, 0.61);
        transition: 1.1s;
        border-radius: 20px;
        box-shadow: 0px 0px 100px 50px gold;
        }       


}





 /* benir work here  */
.benir .div1,.div2,.div3{
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    text-align: center;

}
.benir .div1{
display: flex;
align-items: center;
    background-image: url("https://i.pinimg.com/originals/97/4a/74/974a74c71018cc0be766a800c2412d58.jpg");
    
}

.benir .div1 img{
    width: 45%;
    margin: auto;
    background-color: rgb(225 225 225 0.5);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px goldenrod;
    
filter: drop-shadow(0px 0px 10px  black);
}
.benir .div2{
    display: flex;
align-items: center;
    background-image: url("https://www.nameerabyfarooq.com/cdn/shop/collections/Pakistani-Bridal-Dresses-2018_1200x630.jpg?v=1662560423");
}
.benir h1{
    color: white;
    font-size: 250%;
margin: auto;
text-shadow: 5px 5px 5px rgb(189, 187, 187);
line-height: 150%;
}
.benir .div3{
    display: flex;
    align-items: center;
    
    background-image: url("https://theworldofhsy.com/cdn/shop/articles/Design_your_unique_Garment_or_Item_You_have_two_distinct_ways_to_find_your_perfect_outfit._Select_pieces_from_our_curated_collections_or_express_your_creativity_by_designing_your_garm.png?v=1713362744&width=1100");
}


/* footer work is here  */

.footer{
    width: 100%;
    height: 200px;
    background: rgb(0,13,13);
    background: linear-gradient(0deg, rgba(0,13,13,1) 0%, rgba(187,133,14,1) 100%);
padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-weight: lighter;
    color: white;
    box-shadow: 0px 0px 10px 2px white;
    font-weight: 500;
 }
 .footer a{
    color: rgb(17, 174, 247);
    transition: 1.5s;
 }
.footer a:hover{
color: white;
text-shadow: 3px 3px 5px black;
background-color: rgba(255, 217, 0, 0.856);
border-radius: 20px;
/* padding: 5px; */
box-shadow: 0px 0px 50px 30px gold;
    transition: 1.5s;
transform: scale(1.5);
}